.h-100 {
	height: 100%;
}

.has-content-justified-center {
	justify-content: center;
}

.has-items-aligned-center {
	align-items: center;
}

.is-column {
	flex-direction: column;
}

.fill-parent {
	flex: 1;
}

.is-row-reverse {
	flex-direction: row-reverse;
}

.m-auto {
	margin: auto;
}

.ml-auto {
	margin-left: auto;
}

.mt-1 {
	margin-top: 1rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mr-half {
	margin-right: 0.5rem;
}

.image.is-autoX32 {
	height: auto;
	width: 32px;
}

.is-contrast-background {
	background-color: $contrast-bg;
	color: whitesmoke;
}

@media #{$under-desktop} {
	main > .container {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		max-width: calc(100vw - 5px);

		& > .card {
			max-width: calc(100% - 5px);
		}
	}
}

.flex-shrink-fix {
	flex-shrink: 1;
}

@media #{$under-tablet} {
	.is-hidden-phone {
		display: none !important;
	}
}
